<div class="about-us-container">
    <header class="about-header text-center py-5">
      <h1>About Al-Musawi Bank</h1>
      <p>Connecting the world through inclusive financial services.</p>
    </header>
    
    <section class="about-content py-5">
      <div class="container">
        <p>
          Al-Musawi Bank was founded by Malik Al-Musawi, a visionary student at Fanshawe College, with the aim of delivering
          comprehensive banking services to all countries. Our mission is to bridge financial gaps and connect the
          world together by providing innovative and reliable financial solutions that cater to the diverse needs of our global clientele.
        </p>
        <p>
          Our bank stands at the forefront of the financial industry, pioneering services that are designed to empower
          individuals and businesses alike. With a commitment to excellence and a passion for customer satisfaction,
          Al-Musawi Bank is not just a financial institution; it's a partner in your financial journey, guiding you towards
          success in every transaction and financial decision.
        </p>
        <p>
          Join us as we continue to innovate and lead the way in making financial services more accessible, secure, and
          rewarding. At Al-Musawi Bank, your financial prosperity is our top priority.
        </p>
      </div>
    </section>
  </div>
  