<div class="contact-container">
    <h1>Contact Us</h1>
    
    <div class="row">
      <!-- Contact Form Section -->
      <div class="col-md-6">
        <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" ngModel required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" ngModel required>
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" class="form-control" ngModel required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
      
      <!-- Contact Information Section -->
      <div class="col-lg-6">
        <div class="contact-info">
          <p><i class="fas fa-envelope"></i> <a href="mailto:info@almusawibank.com">info@almusawibank.com</a></p>
          <p><i class="fas fa-phone"></i> +1 519 123 4567</p>
        </div>
        <h3>Our Location</h3>
        <div class="map-embed">
      <!-- Replace the src with the actual Google Maps link -->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11669.76203357682!2d-81.21183422386542!3d43.01111433823493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882eed0db33e1e9f%3A0xafcae4298924fa54!2sFanshawe%20College!5e0!3m2!1sfr!2sca!4v1703754603417!5m2!1sfr!2sca"
        width="500" height="350" frameborder="0" style="border:0;" allowfullscreen title="Google Map">
    </iframe>
  </div>
  